* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* seteando clases de fullpage para que no aparezca el espcio en blanco a la derecha */
.fp-section.fp-table, .fp-slide.fp-table {
  display: block;
  width: auto;
}
.bg-all-image {
  background-image: url("../vendors/img/people-woman-coffee-meeting.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
}
.bg-rgba {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(255,0,0,0.5)
}
.bg-transparent {
  background-color: transparent,
}
.color-white {
  color: white;
}
.color-rgb-red {
  color: rgb(255, 0, 106);
}
.btn {
  border: none;
  border-radius: 2px;
  padding: 10px 25px;
} 
.bg-white {
  background-color: #fff;
}
.icon-x {
  width: 50px;
  height: 50px;
  background-color: white;
}
.width-center-left {
  width: 60vw;;
}
.h-90 {
  height: 85vh;
}
.mg-t-20 {
  margin-top: 20px;
}

@media (min-width: 768px) {

.pd-r-8 {
  padding-right: 8vw;
}
}

